# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Archives
*.xcarchive

# Personal settings
*.DS_Store
*.idea/
*.swp
*.zip

# Image & Assets (옵션)
Assets.xcassets/
*.png
